aside {
    width: 55%;
    left: 35px;
    margin: 0 0 0 10px;
}

#pics {
    background: #CB997E;
    border-radius: 50px;
    padding: 10px;
}

#userContent {
    width: 30%;
    background: #CB997E;
    border-radius: 50px;
    padding: 10px;
    margin: auto;
}

#map {
    min-width: 420px;
    width: 50%;
    height: 460px;
    margin: 20px;
    border-radius: 20px;
}

h1 {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 40px;
}

h2 {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 30px;
}

body {
    background: #FFF1E6;
    text-align: center;
    font-family: 'Raleway', sans-serif;
}

#navBg {
    background: #CB997E;
    list-style-type: none;
    display: flex;
    flex-flow: row wrap;
    border: 3px solid #CB997E;
    justify-content: center;
    margin: 20px 0 20px 0;
    padding-left: 0;
}

#navContentBg {
    background: #B7B7A4;
    border: 3px solid #F0EFEB;
    width: 10%;
}

#navContent {
    color: black;
    display: block;
    padding: 10px 15px;
    text-decoration: none;
}

nav li:nth-last-child(3) {
    border-right: none;
}

nav li:nth-last-child(2) {
    border-right: none;
}

nav li a:hover {
    background: #A5A58D;
}

button {
    background: #B7B7A4;
    color: black;
    display: block;
    text-decoration: none;
    padding: 10px;
    width: fit-content;
    margin: auto;
    font-family: inherit;
}

#loginButton {
    background: #B7B7A4;
    color: black;
    display: block;
    text-decoration: none;
    padding: 10px;
    margin: auto;
    width: fit-content;
    font-family: inherit;
}

button:hover {
    background: #A5A58D;
}

.lightbox-link {
    width: 150px;
    padding: 20px;
    text-decoration: none;
}

#mapAndTexts {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#textsOfPage {
    display: flex;
    flex-wrap: wrap;
    background: #EDDCD2;
    margin: 20px;
    border-radius: 20px;
    min-width: 420px;
}

#radioGroupGroup, #placeInfoGroup {
    padding: 20px 40px 0 40px;
    text-align: left;
}

#placeInfo {
    text-align: center;
}

#routeColours {
    padding: 0 40px 20px 40px;
}

#submitBtn, #navigationBtn {
    margin: 20px;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

span.green {
    background: #FFF1E6;
    color: seagreen;
    padding: 5px;
    border-radius: 5px;
}

span.purple {
    background: #FFF1E6;
    color: mediumpurple;
    padding: 5px;
    border-radius: 5px;
}

span.blue {
    background: #FFF1E6;
    color: deepskyblue;
    padding: 5px;
    border-radius: 5px;
}

span.pink {
    background: #FFF1E6;
    color: hotpink;
    padding: 5px;
    border-radius: 5px;
}

span.coral {
    background: #FFF1E6;
    color: coral;
    padding: 5px;
    border-radius: 5px;
}

#link {
    margin: 20px 0 0 0;
}

#link a {
    color: black;
}

#link a:hover {
    background: #DDBEA9;
    padding: 5px;
    border-radius: 5px;
}